<div style="height:100%!important;width:100%!important;max-width:100%!important;font-family:'Red Hat Text',sans-serif;font-size:14px!important;line-height:1.6!important;text-align:center!important;background:#e6e6e6!important;margin:0;padding:0">
    <table width="100%" bgcolor="#efefef" border="0" cellpadding="0" cellspacing="0" style="padding:0!important;max-width:100%!important;width:100%!important">
      <tbody>

        <tr>
          <td align="center" valign="top">
            <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="width:100%;max-width:640px;overflow:hidden">
              <tbody>
                <tr height="30"><td style="border-top:8px solid #e42e2c"> </td></tr>
                <tr>
                  <td align="left">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-right:50px;padding-left:50px">
                      <tbody>
                        <tr>
                          <td align="left" style="padding-top:30px">
                            <h2 style="margin-bottom:0;font-size:18px;line-height:1.5;color:#3c5373;letter-spacing:.5px;max-width:324px">PIJI Application</h2>
                            <p style="font-size:14px;line-height:1.5;margin-bottom:5px;margin-top:45px;color:#3c5373">
                              Halo <%= receiver_name %>,
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                
                <tr>
                  <td style="padding:0 34px">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:20px 17px;margin:18px 0 10px;border-radius:12px;background-color:#f4f5f7">
                      <tbody><tr>
                        <td>
                          <p style="font-size:14px;line-height:1.45;margin-bottom:0;margin-top:0;color:#3c5373">
                            <%= message %>.
                          </p>
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
                <tr>
                  <td style="padding:40px 0">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:35px 80px 50px 50px;background-color:#3c5373">
                      <tbody><tr>
                        <td>
                          <p style="font-size:12px;line-height:1.5;margin-bottom:20px;color:#fff;font-weight:normal">
                            Catatan: Pesan ini dikirimkan dari alamat surat elektronik yang tidak dipantau.<br>Jangan balas pesan ini.</b></a>
                          </p>
                          <p style="font-size:12px;line-height:1.5;margin-bottom:5px;color:#8a98ab;font-weight:normal;font-style:italic">
                            Note: Don't reply to this email. This email is sent from an unmonitored e-mail address.</b></a>
                          </p>
                        </td>
                      </tr>
                    </tbody></table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>